* {
  margin: 0px;
  padding: 0px;
  font-family: "dm";
  box-sizing: border-box;
  font-weight: 600;
  
}

@font-face {
  font-family: "dm";
  src: url(/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "dm-italic";
  src: url(/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
/* ******************************************* */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
/* ******************************************* */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px;
  max-width: 1000px;
  max-height: 700px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

h1, h2, h3{
  padding: 20px;
  line-height: 0.9em;
  /* font-size: 2em; */
}

h3{
  font-size: 1.6em;
}

p{
  font-size: 18px;
  padding: 20px;
  font-weight: 400;
}

img {
  width: 200px;
  /* height: 200px; */
}
/* ******************************************* */
.card1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: hsl(31, 66%, 93%);
  font-size: 1.3em;
  letter-spacing: -2px;
}

.card1 span {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}
/* ******************************************* */
.card2 {
  grid-area: 1 / 2 / 2 / 4;
  background-color: hsl(256, 67%, 59%);
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.card2 h1{
  font-size: 3em;
  font-weight: 400;
  padding-top: 40px;
}

.card2 span:first-child {
  color: hsl(39, 100%, 71%);
  font-weight: 400;
}

.card2 span:last-child {
  font-family: "dm-italic";
  font-weight: 500;
}

.card2 p {
  padding-top: 0px;
  padding-bottom: 40px;
}
/* ******************************************* */
.card3 {
  grid-area: 1 / 4 / 4 / 5;
  background-color: hsl(254, 88%, 90%);
  justify-content: center;
  overflow: hidden;
}

.card3 img {
  margin-left: 150px;
  width: 350px;
  height: 220px;
}

/* ******************************************* */
.card4 {
  grid-area: 2 / 2 / 4 / 3;
  background-color: hsl(0, 0%, 100%);
  justify-content: space-between;
  overflow: hidden;
  
}

.card4 img{
margin-top: 20px;  margin-left: 100px;
  width: 250px;
  /* height: 78px; */
}

/* ******************************************* */
.card5 {
  grid-area: 2 / 3 / 4 / 4;
  background-color: hsl(39, 100%, 71%);
  overflow: hidden;
  justify-content: flex-start;
}

.card5 h3{
  font-size: 1.6em;
}

/* ******************************************* */
.card6 {
  grid-area: 3 / 1 / 5 / 2;
  background-color: hsl(39, 100%, 71%);
}

.card6 h2{
  font-size: 2em;
}

.card6 img{

  width: 190px;
  padding-bottom: 20px;
  /* display: block; */
}





/* ******************************************* */
.card7 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: hsl(0, 0%, 100%);
}

.card7 h2{
  font-size: 3.8em;
  padding-bottom: 0px;
  padding-left: 0px;
}

.card7 img {
  width: 150px;
  padding-bottom: 20px;
}




/* ******************************************* */
section.card8 {
  flex-direction: row;
}

.card8 {
  grid-area: 4 / 3 / 5 / 5;
  background-color: hsl(256, 67%, 59%);
}

.card8 img {
  width: 225px;
  padding-left: 20px;
}

.card8 h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
  font-weight: 500;
}



@media (max-width:550px) {
  body{
    /* background-color: red; */
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }

  section{
    width: 345px;
    /* height: 300px; */
  }

  h3{
    font-size: 1.5em;
    padding: 0px;
    margin: 20px;
  }

 
 
  .card1{
    order: 7;
    align-items: flex-start;
    padding: 20px 0px;
  }
  
  .card1 img{
    margin-left: 20px;
  }

  .card2{
    order: 1;
    padding: 0px 15px;
  }

  .card3{
    order: 4;
    overflow: initial;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card3 img{
    margin: 0px;
    width: 315px;
    height: auto;
  }

  .card4{
    order: 2;
    overflow: initial;
    padding: 15px;

  }

  .card4 img{
    width: 315px;
    height: auto;
  }

  .card4 img, .card4 h3{
    margin: 0px;
    margin-bottom: 10px;
  }


  
  .card5{
    order: 3;
    overflow: initial;
    display: flex;
    align-items: flex-start;
  }

  .card5 img{
    margin-left: 20px;
  }


  .card6{
    order: 8;
    overflow: initial;
    display: flex;
    align-items: flex-start;
  }

  .card6 img{
    margin-left: 20px;
  }

  .card7{
    order: 6;
    align-items: flex-start;
    padding-left: 20px;
  }


  section.card8{
    flex-direction: column;
  }
  .card8{
    order: 5;
    padding-top: 20px;
    text-align: center;
  }

  .card8  h2{
    margin: 20px 40px;
  }






}





